/*
    - [X] Create a centered navbar at the top of the page.
    - [ ] Create a flexible display of company products that changes from a more grid-like list to a column list as the page shrinks.
    - [ ] Create a flexible display of company employees.
    - [ ] A simple color scheme using CSS named colors, but yours can be more elaborate
*/

/*
    - [X] Use the Libertinus font family for the text.
    - [X] Use the Libertinus font family for the headings.
    - [X] Use the Libertinus font family for the code blocks.
*/

/* Universal styles */
:root {
    --header-h1: #FFC05C;
    --header-h2: #FDF7ED;
    --paragraph: #FDF7ED;
    --background: #816C61;
    --opacity-fade: rgba(0, 0, 0, 0.4);
    --section-content: #413839;
}

html {
    font-size: 16px; /* Base font size */
    background-color: var(--background);
}

h1 {
    color: var(--header-h1);
    font-family: "Libertinus Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

p {
    color: var(--paragraph);
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
}


/* Navigation */
.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.flex-container .link {
    flex: 1 1 calc(33.333% - 7px);
    text-decoration: none; /* Remove underline from links */
    height: 600px;
    min-height: 300px;
}

.flex-container p, .flex-container h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.flex-container h2 {
    color: var(--header-h2);
    font-weight: 700;
    font-size: 3rem;
}

.grill, .bar, .hotel {
    /* Background size for each section */
    height: 100%; 
    min-height: 100%; 
    background-size: cover;
    background-position: center;

    /* Border radius and box shadow for each section */
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--opacity-fade);

    /* Center content inside each section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.link:hover {
    cursor: pointer;
}

.grill h2:hover, .bar h2:hover, .hotel h2:hover {
    font-style: italic;
}

.grill {
    background-image: linear-gradient(var(--opacity-fade), var(--opacity-fade)), url('resources/grill.jpg');
}   
.bar {
    background-image: linear-gradient(var(--opacity-fade), var(--opacity-fade)), url('resources/bar.jpg');
    justify-content: flex-start;
}

.bar h1 {
    color: var(--header-h1);
    margin: 0 0 12.25rem 0;
}
.hotel {
    background-image: linear-gradient(var(--opacity-fade), var(--opacity-fade)), url('resources/hotel.jpg');
}

/* Our mission */ 
.mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  

    margin: 10rem auto;
    padding: 2rem;
    width: 50%;

    text-align: center;
    background-color: var(--section-content);
    color: var(--background);

    border-radius: 10px;
    box-shadow: 0 4px 8px var(--opacity-fade);
}

@media screen and (max-width: 1100px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .link:nth-child(1) {
        order: 1; 
    }

    .link:nth-child(3) {
        order: 2; 
    }
    
    .flex-container .link {
        min-height: 0;
    }

    .bar h1 {
        margin: 0 0 6rem 0;
    }

    .bar, .grill, .hotel {
        padding-bottom: 6rem;
    }

    .grill, .hotel {
        padding-top: 6rem;
    }

    .mission {
        flex-direction: column;
        margin: 5rem auto;
    }
}